@import '/src/styles/abstracts.css';

.meaning {
  color: hsla(0, 0%, 46%, 1);
  margin-block-end: 0.438rem;
  font-size: clamp(1rem, 0.7845rem + 0.9195vw, 1.25rem);
  font-weight: 400;
}

.definitions-container {
  display: flex;
  flex-direction: column;
  gap: 0.813rem;
}

.divider {
  display: inline-flex;
  align-items: center;
  gap: 1.25rem;
}

.divider::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--purple-clr);
  border-radius: 50%;
}

.definition {
  font-size: clamp(0.9375rem, 0.7759rem + 0.6897vw, 1.125rem);
}
