@import '/src/styles/abstracts.css';

.header {
  width: calc(100% - 3rem);
  max-width: 46.063rem;
  margin-block-start: 1.5rem;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 45em) {
  .header {
    width: calc(100% - 5rem);
    margin-block-start: 3.625rem;
  }
}
