@import '/src/styles/abstracts.css';

.form {
  position: relative;
  margin-block-start: 1.5rem;
  display: flex;
  align-items: center;
}

.word-search {
  width: 100%;
  background-color: var(--search-bg-clr);
  padding-block: 0.625rem;
  padding-inline: 1.5rem;
  font-weight: 700;
  font-size: var(--fs-700);
  color: var(--body-font-clr);
  border-radius: 1rem;
  border: transparent;
  /* transition: 275ms ease; */
}

.word-search:focus {
  outline: 1px solid hsl(274, 82%, 60%);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  border: 0;
  background-color: transparent;
  position: relative;
  padding: 1rem;
  position: absolute;
  right: 0;
}

.error-msg {
  color: var(--error-clg);
  margin-block-start: 0.5;
  font-size: var(--fs-700);
}

/* .prueba {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

& span {
  width: 100%;
  height: 2px;
  background-color: red;
} */
